
body {
	
	background-image: url("/assets/47999.jpg");
  background-size: cover;

}



h1 {
	color: white;
}

#titleLabel
{
	color: white;
}

#markdownShow
{
	color: white;
}

#createdAt
{
	color: white;
}


